body {
  margin-top: 60px;
  margin-left: 60px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
}

.btn2 {
  margin-top: 80px;
}